*{
    font: 30px 'Verdana', sans-serif;
    padding: 0;
    margin: 0;
}

.body{
    background-color: #dedede;
    width: 100%;
}

.main-title{
    font-size: 30px;
    color: #333;
    margin: 0px 0px 30px;
    text-align: center;
}

.letter-icon{
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(./letter.png);
    background-size: 50px 40px;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
 }

.form-wrapper{
    background-color: #ffffff;
    width: 800px;
    box-sizing: border-box;
    padding: 90px 70px;
    position: relative;
    border-radius: 2px;
    margin: 100px auto 0px auto;
}

.inline-block{
    font-size: 0;
    box-sizing: border-box;
}

.inline-element{
    display: inline-block;
    width: 50%;
}

.left-element{
    box-sizing: border-box;
    padding: 0px 10px 0px 0px;
}

.right-element{
    box-sizing: border-box;
    padding: 0px 0px 0px 10px;

}

.message-input{
    font-size: 20px;
    color: #333;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    outline: none;
    height: 60px;
    box-sizing: border-box;
    padding: 18px;
    width: 100%;
}

.message-body{
    width: 100%;
    height: 200px;
    font-size: 16px;
    color: #333;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
    padding: 15px;
    margin: 30px 0px;
    color: #333;
}

.message-input:active, .message-input:focus{
    border-color: #fc4d5e;
    color: #333;
}

.message-body:active, .message-body:focus{
    border-color: #fc4d5e;
    color: #333;
}

.button-wrapper{
    text-align: right;
}

.send-button{
    font-size: 18px;
    background-color: #fc4d5e;
    border: 0;
    border-radius: 2px;
    height: 50px;
    color: #ffffff;
    box-sizing: border-box;
    padding: 0px 20px;
}

.send-button:active{
    background-color: #333;
    color: #fc4d5e;
}

.send-button:hover{
    background-color: #333;
}
